.float_left {
  display: inline-block;
  float: left;
  text-align: center;
}

blockquote.small {
  font-size: 18px;
  line-height: 22px;
}

blockquote.medium {
  font-size: 28px;
  line-height: 36px;
}

pre.small {
  font-size: 15px;
}

pre.medium {
  font-size: 20px;
  width: 100%;
}
